<h1>Student details</h1>
<div id="notice" style="display:none"><%= notice %><span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </div>

<div class="show">
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @student.birthdate %>
</p>
</div>

<div class="new">
  <%= link_to 'Edit', edit_student_path(@student) %>
</div>
<br>
<div class="new">
  <%= link_to 'Back', students_path %>
</div>