<div id="notice">
  <p id="pnotice"><%= notice %></p>
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
</div>

<script>
var $error = $('#pnotice').text();
$( "#notice" ).hide();
if ($error.length === 0) {
    $( "#notice" ).style.display = 'none';
} 
else $( "#notice" ).show();
</script>

<h1>Student details</h1>



<div class="show">
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.lastname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @student.birthdate %>
</p>
</div>

<div class="new">
  <%= link_to 'Edit', edit_student_path(@student) %>
</div>
<br>
<div class="new">
  <%= link_to 'Back', students_path %>
</div>