<div id="notice">
  <p id="pnotice"><%= notice %></p>
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
</div>

<script>
var $error = $('#pnotice').text();
$( "#notice" ).hide();
if ($error.length === 0) {
    $( "#notice" ).style.display = 'none';
} 
else $( "#notice" ).show();
</script>

<h1>Listing Towns</h1>

<table>
  <thead>
    <tr class="table-th">
      <th class="item-5">Name</th>
      <th class="item-5">Postalcode</th>
      <th class="item-5">Latitude</th>
      <th class="item-5">Longitude</th>
      <th class="item-5"></th>
    </tr>
  </thead>

  <tbody>
    <% @towns.each do |town| %>
      <tr class="table-tr">
        <td class="item-5"><%= town.name %></td>
        <td class="item-5"><%= town.postalcode %></td>
        <td class="item-5"><%= town.latitude %></td>
        <td class="item-5"><%= town.longitude %></td>
        <td class="item-5 btns"><%= link_to 'Show', town, class: "btn show-btn"  %>
        <%= link_to 'Edit', edit_town_path(town), class: "btn edit-btn"  %>
        <%= link_to 'Destroy', town, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn delete-btn"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="new">
  <%= link_to 'New Town', new_town_path %>
</div>